<div id="main-container" class="container">
	<div *ngIf="!session" id="join">
		<div id="join-dialog" class="jumbotron vertical-center">
			<h1>Join Class Room</h1>
			<form class="form-group" (submit)="joinSession()">
				<p>
					<label>Enter Your Name</label>
					<input class="form-control" type="text" id="userName" name="userName" [(ngModel)]="userName" required >
				</p>
				<p class="text-center">
					<input class="btn btn-lg btn-success" type="submit" name="commit" value="Join!">
				</p>
			</form>
		</div>
	</div>

	<div *ngIf="session" id="session">
		<div id="session-header">
			<h1 id="session-title">{{sessionId}}</h1>
			<input class="btn btn-large btn-danger" type="button" id="buttonLeaveSession" (click)="leaveSession()" value="Leave session">
		</div>
		<div *ngIf="mainVideoStream" id="main-video" class="col-md-6">
			<video-component [stream]="mainVideoStream" [isMuted]="true"></video-component>
		</div>
		<div id="video-container" class="col-md-6">
			<div *ngIf="localStream" class="stream-container col-md-6 col-xs-6">
				<video-component [stream]="localStream" [isMuted]="true" (mainVideoStream)="getMainVideoStream($event)"></video-component>
			</div>
			<div *ngFor="let s of remoteStreams" class="stream-container col-md-6 col-xs-6">
				<video-component [stream]="s" [isMuted]="false" (mainVideoStream)="getMainVideoStream($event)"></video-component>
			</div>
		</div>
	</div>
</div>