<div>
  <video #videoElement [id]="'native-video-' + stream.connection.connectionId + '_webcam'"
    (click)="videoClicked()" autoplay="true" [muted]="isMuted"></video>
  <div [id]="'data-' + stream.connection.connectionId"><p>{{this.getNicknameTag()}}</p></div>
</div>