<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h1 align="center"> Student Registration</h1>
      </div>
      <div class="panel-body">
        <form [formGroup]="form">
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('name')">
            <label for="fullName" class="control-label required">Full Name</label>
            <input  type="text" class="form-control" [(ngModel)]="student.name" id="name" placeholder="Enter Full Name" name="name" formControlName="name"
            minLength="4"/>
            <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Invalid Name">
            </app-field-error-display>
          </div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('gender')">
            <label for="gender" class="control-label required">Gender</label>
            <div>
              <input formControlName="gender"  type="radio" [(ngModel)]="student.gender" name="gender" id="male" value="Male" checked>Male
              <input formControlName="gender"  type="radio" [(ngModel)]="student.gender" name="gender" id="female" value="Female" style="padding-left:10px">Female
            </div>
            <app-field-error-display [displayError]="isFieldValid('gender')" errorMsg="Please inform your gender">
            </app-field-error-display>
          </div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('mobile')">
            <label for="mobile" class="control-label required">Mobile</label>
            <input formControlName="mobile"  type="text" [(ngModel)]=student.mobile class="form-control" id="mobile" placeholder="Enter Mobile Number"
              name="mobile" minLength="10" pattern="^[897][0-9]{9}"/>
            <app-field-error-display [displayError]="isFieldValid('mobile')" errorMsg="Invalid Mobile Number">
            </app-field-error-display>
          </div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('email')">
            <label for="email" class="control-label required">E-Mail</label>
            <input  type="email" class="form-control" id="email" [(ngModel)]=student.email placeholder="Enter Email" name="email" formControlName="email"
            minLength="6"/>
            <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Invalid Email Id">
            </app-field-error-display>
          </div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('traingsRequired')">
            <label for="traingsRequired" class="control-label required">Training Required</label>
            <input  type="traingsRequired" class="form-control" id="traingsRequired" [(ngModel)]=student.traingsRequired placeholder="Enter Traings Required" name="traingsRequired" formControlName="traingsRequired"
            minLength="100"/>
            <app-field-error-display [displayError]="isFieldValid('traingsRequired')" errorMsg="Please inform your training Requirement">
            </app-field-error-display>
          </div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('address')">
            <label for="address" class="control-label required">Address</label>
            <textarea formControlName="address"  type="text" [(ngModel)]="student.address" class="form-control" id="address" placeholder="Enter City/Town"
            minLength="4" name="address" ></textarea>
            <app-field-error-display [displayError]="isFieldValid('address')" errorMsg="Invalid Address">
            </app-field-error-display>
          </div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('state')">
            <label for="state" class="control-label required">State</label>           
               <p-dropdown formControlName="state" [(ngModel)]="student.state" filter="true" [options]="states"   placeholder="Select state" optionLabel="key"
                  name="state" id="state"></p-dropdown>
            <app-field-error-display [displayError]="isFieldValid('state')" errorMsg="Please select your state">
            </app-field-error-display>
            </div>

             <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('qualification')">
              <label for="qualification" class="control-label required">Qualification</label>
              <div>
                <p-dropdown formControlName="qualification" [(ngModel)]="student.qualification" filter="true" [options]="qualifications"  (onChange)="changeQualification($event.value)" [(ngModel)]="selectedQulification" placeholder="Select Qualification" optionLabel="name"
                  name="qualification" id="qualification"></p-dropdown>
                <app-field-error-display [displayError]="isFieldValid('qualification')" errorMsg="Please inform your Qualification">
                </app-field-error-display>
              </div>            
            </div>
            <div class="form-group" [formGroup]="form" *ngIf="isQualificationOthers" [ngClass]="displayFieldCss('otherQualification')">
                <label for="otherQualification" class="control-label required">Specify Your Qualificaion</label>
                <input  type="text" class="form-control" id="otherQualification" [(ngModel)]="student.otherQualification" placeholder="Specify Qualification" name="otherQualification" formControlName="otherQualification"/>
                <app-field-error-display [displayError]="isFieldValid('otherQualification')" errorMsg="Invalid Qualification">
                </app-field-error-display>
            </div>

             <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('university')">
            <label for="university" class="control-label required">University</label>     
            <div>      
               <p-dropdown formControlName="university" [(ngModel)]="student.university" filter="true" [options]="universities" [(ngModel)]="universitySelectded" placeholder="Select university" optionLabel="key"
                  name="university" id="university" (onChange)="changeUniversity($event.value)"></p-dropdown>
           
            <app-field-error-display [displayError]="isFieldValid('university')" errorMsg="Please select your University">
            </app-field-error-display>
             </div>
            </div>
             <div class="form-group" [formGroup]="form" *ngIf="isUniversityOthers" [ngClass]="displayFieldCss('otherUniversity')">
                <label for="otherUniversity" class="control-label required">Specify Your University</label>
                <input  type="text" class="form-control" id="otherUniversity" [(ngModel)]="student.otherUniversity" placeholder="Specify University" name="otherUniversity" formControlName="otherUniversity"/>
                <app-field-error-display [displayError]="isFieldValid('otherUniversity')" errorMsg="Invalid University Name">
                </app-field-error-display>
            </div>

            <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('institution')">
            <label for="institution" class="control-label required">Institution Name</label>
            <input formControlName="institution"  type="text" [(ngModel)]="student.institution" class="form-control" id="institution" placeholder="Enter Institution Name"
            minLength="4" name="institution" />
            <app-field-error-display [displayError]="isFieldValid('institution')" errorMsg="Invalid institution">
            </app-field-error-display>
          </div>

           <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('comments')">
            <label for="comments">Want to say Something?</label>
            <textarea formControlName="comments"  type="text" [(ngModel)]="student.comments" class="form-control" id="comments" placeholder="Enter your comments if any"
             name="comments" ></textarea>
            <app-field-error-display [displayError]="isFieldValid('comments')" errorMsg="Invalid comments">
            </app-field-error-display>
          </div>


           
          
          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary" (click)="enroll()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>