<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h1 align="center"> Change Password</h1>
      </div>
      <div class="panel-body">
        <form [formGroup]="form"  novalidate>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('username')">
            <label for="username" class="control-label required">User name</label>
            <input  type="text" class="form-control" [(ngModel)]="changepassword.username" id="username" placeholder="Enter User Name" name="username" formControlName="username"
            minLength="4"/>
            <app-field-error-display [displayError]="isFieldValid('username')" errorMsg="Please enter your User Name">
            </app-field-error-display>
          </div>  
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('newpassword')">
            <label class="control-label required">New Password</label>
            <input type="newpassword" class="form-control" 
            [(ngModel)]="changepassword.newpassword" id="newpassword" placeholder="Enter New Pass word" 
            name="newpassword" formControlName="newpassword"
            minLength="4" autocomplete="false"/>
            <app-field-error-display [displayError]="isFieldValid('newpassword')" errorMsg="Please enter Password">
            </app-field-error-display>            
          </div>
          <div class="form-group" [formGroup]="form" [ngClass]="displayFieldCss('confirmpassword')">
            <label  class="control-label required">Confirm Password</label>
            <input  type="password" class="form-control" 
            [(ngModel)]="changepassword.confirmpassword" id="confirmpassword" placeholder="Confirm Password" 
            name="confirmpassword" formControlName="confirmpassword" minLength="4" autocomplete="false" />      
           <app-field-error-display [displayError]="isFieldValid('confirmpassword')" errorMsg="Please Enter Confirm Password">
            </app-field-error-display>
             <app-field-error-display [displayError]="isPasswordEqual('confirmpassword')" errorMsg="New password and Confirm Password should be same">
            </app-field-error-display>           
          </div>          
          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary" (click)="changePassword()">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>